@keyframes horScroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes txtColorTransition {
  0% {
    color: $color-secondary;
  }
  100% {
    color: #000;
  }
}
