.cur {
  min-height: calc(100vh - 4rem);

  &Form {
    .form-label {
      font-size: 1.4rem;
      font-weight: 600;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
