.admodels {
  min-height: calc(100vh - 4rem);

  .products,
  .actions {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }

  .actions {
    margin-left: auto;
    margin-bottom: auto;

    &__title {
      font-size: 2.6rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
    }

    &__link {
      height: 3rem;
      width: 90%;
      margin: auto;
      font-size: 1.5rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}
