.postPay {
  width: 1140px;
  margin: auto;
  padding: 2rem 0 6rem;

  .h--1,
  &__thanks {
    color: #333;
  }

  &__thanks {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  &__goBack {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1.2rem;
    line-height: 2rem;
    transition: color .2s ease, border-color .2s ease;
    border-bottom: 1px solid #333;

    &::before{
      content: '\00AB';
      position: relative;
      left: 0;
      display: inline-block;
      margin-right: .5rem;
      font-size: 2rem;
      font-weight: 400;
      transform: scale(1);
      transition: transform .2s ease, left .2s ease;
    }

    &:hover {
      color: $color-primary-d;
      border-bottom-color: $color-primary-d;

      &::before {
        transform: scale(1.2);
        left: -5px;
      }
    }
  }

  &__data {
    display: block;
    margin-top: 2rem;
    background-color: #ccc;
    border-radius: 7px;
    // width: 50rem;
    color: #333;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;

    & > *,
    .shipping > * {
      display: flex;
      justify-content: space-between;
    }

    .shipping {
      padding: 0 2rem;
      flex-direction: column;
      strong {
        font-weight: 600;
      }
    }

    .h--4 {
      margin-bottom: .5rem;
    }

    strong {
      font-size: 1.35rem;
      font-weight: bold;
      // margin-right: 1rem;
    }

    .content {
      width: 80%;
      margin: .5rem auto;
      max-height: 45rem;
      overflow-y: auto;
      overflow-x: hidden;
      display: block;
    }

    .item {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: repeat(2, 50%);
      height: 15rem;
      overflow: hidden;
      border-radius: 1rem;
      background-color: #ddd;

      &__thumb {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin: 0 auto;
        max-height: 100%;
      }

      &__name {
        grid-column: 2 / 4;
        font-size: 1.8rem;
        font-weight: 700;
        margin: auto;
        margin-top: .5rem;
        margin-left: 0;
      }

      &__code {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        font-size: 1.8rem;
        font-weight: 700;
        font-style: italic;
        margin: auto;
        margin-top: .5rem;
        margin-right: 2rem;
      }
    }
  }
  
  .note {
    font-size: 1.1rem;
    color: #666;
    font-weight: bold;
    margin-top: .5rem;
    &::before{
      content: '*';
      display: inline-block;
      margin-right: .2rem;
    }
  }
}
