.contact {
    grid-column: 1 / -1;
    height: 72rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../../img/contact.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    @include respond(b6){
        height: 100%;
    }
    
    &--m {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../../img/Miner_1.jpg');
    }

    &-form {
        position: absolute;
        @include centerE;
        display: flex;
        @include respond(b6) {
            flex-direction: column;
            position: relative;
        }
        @include respond(phone-l){
            position: relative;
        }        
        .form {
            background-color: rgba(0, 0, 0, 0.2);
            width: 50rem;
            height: 100%;
            text-align: center;
            padding: 4rem;
            color: $color-primary;
            @include respond(b5) {
                width: 40rem;
            }
            @include respond(b6) {
                width: 100%;
            }
            &__group:not(:last-child) {
                margin-bottom: 2rem;
            }
            &__input {
                font-size: 1.5rem;
                font-family: inherit;
                color: inherit;
                padding: 1.5rem 2rem;
                border-radius: 2px;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid transparent;
                width: 100%;
                display: block;
                transition: all 0.3s;

                &:focus {
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba($color-b, 0.2);
                    border-bottom: 3px solid $color-primary-l;
                }

                &:focus:invalid {
                    border-bottom: 3px solid $color-primary-l;
                }

                &::-webkit-input-placeholder {
                    color: $color-grey-light-2;
                }
            }
            &__input:placeholder-shown + &__label {
                opacity: 0;
                visibility: hidden;
            }
        }
        .info {
            background-color: rgba(18, 18, 18, 1);
            width: 30rem;
            height: 100%;
            padding: 4rem 0 4rem 4rem;
            color: $color-primary;
            text-align: left;
            @include respond(b6) {
                width: 100%;
                background-color: rgba(18, 18, 18, 0.9);
            }
            .group-text {
                font-size: 1.5rem;
                font-family: inherit;
                color: inherit;
                padding: 3.7rem 0;

                &__text {
                    color: $color-grey-light-2;
                }
                &__tittle {
                    font-weight: 700;
                }
            }
        }
    }
}
