<div class="ch-header">
    <a href="/"><img src="/img/icon/fLogo_tr.svg" alt="logo_elkilate" class="ch-header__logo"></a>
    <p class="ch-header__title">El Kilate</p>
    <a href="/" class="ch-header__link">Volver al Inicio</a>
</div>