<footer class="footer">
  <img src="/img/icon/fLogo_tr.svg" alt="logo" class="footer__logo" />
  <div class="footer__first">
    <ul class="footer__nav">
      <li>
        <a href="/joyeria#searchBar">
          Buscar
        </a>
      </li>
      <li>
        <a href="/sucursales">
          Sucursales
        </a>
      </li>
      <li>
        <a href="/terminos">
          Terminos del Servicio
        </a>
      </li>
      <li>
        <a href="/aviso-privacidad">
          Politicas de Privacidad
        </a>
      </li>
      <li>
        <a href="/comentarios">
          Comentarios
        </a>
      </li>
    </ul>
  </div>
  <div class="footer__second">
    <h5 class="footer__h5">
      Atención a Cliente
    </h5>
    <p class="footer__p" style="font-weight: bold;">
      Dirección:
    </p>
    <p class="footer__p">
      Calle 5 de febrero 105 Zona Centro.
    </p>
    <p class="footer__p" style="font-weight: bold;">
      Correo:
    </p>
    <p class="footer__p">
      joyeriaelkilatenegrete@hotmail.com
    </p>
    <p class="footer__p" style="font-weight: bold;">
      Telefóno:
    </p>
    <p class="footer__p">
      618-281-4235
    </p>
  </div>
  <div class="footer__icon">
    <svg>
      <use xlink:href="/img/sprite.svg#paypal"></use>
    </svg>
    <svg>
      <use xlink:href="/img/sprite.svg#visa"></use>
    </svg>
    <svg>
      <use xlink:href="/img/sprite.svg#mastercard"></use>
    </svg>
  </div>
  <div class="footer__copy">
    <p>
      © 2020 El Kilate
    </p>
    <p>
      Derechos Reservados
    </p>
  </div>
</footer>