<div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
        <source src="{{mp4Src}}" type="video/mp4">
        <source src="{{webmSrc}}" type="video/webm">
        NO SIRVE TU NAVEGADOR PRUEBA CHROME
    </video>
</div>