<div class="ctc">
  <a href="{{link}}" target="blank" class="ctc-btn">
    <svg class="ctc-icon">
      <use href="/img/ctc/sprite.svg#{{iconId}}"></use>
    </svg>
  </a>
  <div class="ctc-tooltip">Tambien puedes contactarnos directamente a traves de Whatsapp</div>
</div>