<span class="filter-toggler">
  <a href='' class="filter-link">Filtros</a>
</span>
<aside class="filters" id="filtersWrapper">
  <div class="filters__header">
    <h2 class="filters__heading">Filtros</h2>
    <span class="filters__close">Close</span>
  </div>
  <form class="filters__form" id="filtersForm">
    <div class="filters__group">
      <label for="maxPrice" class="filters__label">Precio Maximo</label>
      <input type="number" class="filters__input" id="maxPrice" />
    </div>
    <div class="filters__group">
      <label for="minPrice" class="filters__label">Precio Minimo</label>
      <input type="number" class="filters__input" id="minPrice" />
    </div>
    <div class="filters__group">
      <label for="" class="filters__label"></label>
      <select name="karat" id="karat" class="filters__input">
        <option value="5">5K</option>
        <option value="10">10K</option>
        <option value="12">12K</option>
        <option value="20">20K</option>
        <option value="22">22K</option>
        <option value="24">24K</option>
      </select>
    </div>
  </form>
</aside>