<form action="/admin/prices/set/{{metal}}" method="post" class="setPrice__form p-5 my-5">
  <div class="mb-3">
    <label for="price" class="form-label">Precio Nuevo:</label>
    <input type="number" name="price" id="price" class="form-control" title="Precio nuevo" required>
  </div>
  <button type="submit" class="btn btn-lg btn-primary mt-3">Actualizar</button>
</form>