<section class="section-testimonials">
    <div class="testimonial__header">
        <h4>Nuestros Clientes no dejan de recomendarnos</h4>
    </div>
    <div class="testimonial__group">
        <blockquote class="testimonial__bq">
            ! Increible ! El paquete se tardo 1 dia de mas pero, el servicio al cliente siempre estuvo al pendiente
            de mi. !SUPER RECOMENDADOS!
            <cite class="testimonial__cite"><img src="/img/customer-1.jpg" alt="Alberto" class="testimonial__img">
                @AlbertDuncan, Apodaca, Mty</cite>
        </blockquote>
    </div>
    <div class="testimonial__group">
        <blockquote class="testimonial__bq">
            Pedi un brazalete para mi esposo, y llego al dia siguiente, la calidad es como la describen en el
            producto. Muchas gracias comprare pronto de nuevo!
            <cite class="testimonial__cite"><img src="/img/customer-2.jpg" alt="Alberto" class="testimonial__img">
                @MarthaSanchez, Tacuba, CDMX</cite>
        </blockquote>
    </div>
    <div class="testimonial__group">
        <blockquote class="testimonial__bq">
            Estaba nervioso por realizar mi compra, pero un amigo me recomendo comprar mi anillo de compromiso aqui,
            en el chat me resolvieron todo, lo hicieron tal y como lo queria. !Llego a tiempo!
            <cite class="testimonial__cite"><img src="/img/customer-3.jpg" alt="Alberto" class="testimonial__img">
                @JosephRouler, Culiacan, SNA</cite>
        </blockquote>
    </div>
    <div class="testimonial__controls">
        <span class="testimonial__control testimonial__control--p" id="tsControl-p">
            <svg class="testimonial__svg testimonial__svg--l">
                <use href="/img/sprite.svg#i-navigate_before"></use>
            </svg>
        </span>
        <span class="testimonial__control testimonial__control--n" id="tsControl-n">
            <svg class="testimonial__svg testimonial__svg--r">
                <use href="/img/sprite.svg#i-navigate_next"></use>
            </svg>
        </span>
    </div>
</section>