{{#> layouts/default currPage="minery"}}

{{#*inline "header-block"}}
{{> includes/header}}
{{/inline}}

{{#*inline "content-block"}}
{{> includes/components/price-table}}
<div class="static-table">
  <div class="title">Compra de mineral "El Kilate"</div>
  <table>
    <tr>
      <th colspan="2">Plata</th>
      <th>Porcentaje de pago</th>
    </tr>
    <tr>
      <td>400 gramos</td>
      <td>600 gramos</td>
      <td>30%</td>
    </tr>
    <tr>
      <td>601 gramos</td>
      <td>800 gramos</td>
      <td>35%</td>
    </tr>
    <tr>
      <td>801 gramos</td>
      <td>900 gramos</td>
      <td>40%</td>
    </tr>
    <tr>
      <td>901 gramos</td>
      <td>1000 gramos</td>
      <td>45%</td>
    </tr>
    <tr>
      <td>1001 gramos</td>
      <td>1200 gramos</td>
      <td>50%</td>
    </tr>
    <tr>
      <td>1201 gramos</td>
      <td>1700 gramos</td>
      <td>55%</td>
    </tr>
    <tr>
      <td>1701 gramos</td>
      <td>1900 gramos</td>
      <td>60%</td>
    </tr>
    <tr>
      <td>1901 gramos</td>
      <td>2000 gramos</td>
      <td>65%</td>
    </tr>
    <tr>
      <td>2001 gramos</td>
      <td>2900 gramos</td>
      <td>70%</td>
    </tr>
    <tr>
      <td>2901 gramos</td>
      <td>3900 gramos</td>
      <td>73%</td>
    </tr>
    <tr>
      <td>3901 gramos</td>
      <td>5900 gramos</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>5901 gramos</td>
      <td>9,999 gramos</td>
      <td>80%</td>
    </tr>
  </table>
  <p class="static-table__data">En concentrados se descontara humedad y en piedra se descontaran 50 kilos por tonelada
    de merma.</p>
  <p class="static-table__data">Pago del 80% en un pre-analisis y el resto al resultado del analisis final.</p>
  <p class="static-table__data">Cel. (618)-278-19-34 o (618)-278-1934 Durango, Durango.</p>
</div>
<div class="static-table static-table--last">
  {{!-- <div class="title">Compra de mineral "El Kilate"</div> --}}
  <table>
    <tr>
      <th colspan="2">Oro</th>
      <th>Porcentaje de pago</th>
    </tr>
    <tr>
      <td>5 gramos</td>
      <td>7 gramos</td>
      <td>20%</td>
    </tr>
    <tr>
      <td>7 gramos</td>
      <td>9 gramos</td>
      <td>25%</td>
    </tr>
    <tr>
      <td>9 gramos</td>
      <td>11 gramos</td>
      <td>30%</td>
    </tr>
    <tr>
      <td>11 gramos</td>
      <td>15 gramos</td>
      <td>35%</td>
    </tr>
    <tr>
      <td>16 gramos</td>
      <td>20 gramos</td>
      <td>40%</td>
    </tr>
    <tr>
      <td>21 gramos</td>
      <td>25 gramos</td>
      <td>45%</td>
    </tr>
    <tr>
      <td>26 gramos</td>
      <td>30 gramos</td>
      <td>50%</td>
    </tr>
    <tr>
      <td>31 gramos</td>
      <td>35 gramos</td>
      <td>55%</td>
    </tr>
    <tr>
      <td>36 gramos</td>
      <td>40 gramos</td>
      <td>60%</td>
    </tr>
    <tr>
      <td>41 gramos</td>
      <td>45 gramos</td>
      <td>65%</td>
    </tr>
    <tr>
      <td>46 gramos</td>
      <td>50 gramos</td>
      <td>70%</td>
    </tr>
    <tr>
      <td>51 gramos</td>
      <td>60 gramos</td>
      <td>73%</td>
    </tr>
    <tr>
      <td>61 gramos</td>
      <td>200 gramos</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>201 gramos</td>
      <td>999 gramos</td>
      <td>80%</td>
    </tr>
  </table>
  <p class="static-table__data">En concentrados se descontara humedad y en piedra se descontaran 50 kilos por tonelada
    de merma.</p>
  <p class="static-table__data">Pago del 80% en un pre-analisis y el resto al resultado del analisis final.</p>
  <p class="static-table__data">Cel. (618)-278-19-34 o (618)-278-1934 Durango, Durango.</p>
</div>

<section class="cards">
  <div class="row">
    <div class="col-1-of-3">
      <h3>Misión</h3>
      {{!-- <img src="/img/Mine_1.jpg" alt="Mine 1" class="card__img"> --}}
      <a class="card card-1">
        <div class="card__content">
          El Kilate es una empresa mexicana que tiene como misión comprar minerales con el precio más justo, para la
          creación, y posteriormente venta, de joyería de la mejor calidad con el fin de fortalecer y apoyar el comercio
          y la economía local, brindando así un servicio y un producto con la más alta calidad tanto para nuestros
          clientes como para nuestros comerciantes.
        </div>
      </a>
    </div>
    <div class="col-1-of-3">
      <h3>Visión</h3>
      {{!-- <img src="/img/Mine_1.jpg" alt="Mine 1" class="card__img"> --}}
      <a class="card card-2">
        <div class="card__content">
          Nuestra visión es convertirnos en una joyería con gran reconocimiento no solo en la ciudad sino en todos sus
          alrededores, otorgando a los comerciantes el precio más justo para sus minerales, y satisfaciendo los deseos
          de nuestros clientes al entregarles joyería única con el mejor servicio.
        </div>
      </a>
    </div>
    <div class="col-1-of-3">
      <h3>Valores</h3>
      {{!-- <img src="/img/Mine_1.jpg" alt="Mine 1" class="card__img"> --}}
      <a class="card card-3">
        <div class="card__content">
          Compromiso
          Honestidad
          Integridad
          Dedicación
          Paciencia
          Respeto
          Pasión
        </div>
      </a>
    </div>
  </div>
</section>
{{#if wasMailSent}}
<div class="toast">
  <div class="toast__msg">Su mensaje fue enviado correctamente.</div>
  <div class="toast__dismiss">&times;</div>
</div>
{{/if}}

{{> includes/components/contact-form isMine=true mail='elkilatemineria@gmail.com' page='mineria'}}
{{/inline}}

{{#*inline "ctc-block"}}
{{> includes/components/ctc-button link="https://api.whatsapp.com/send?phone=526182839404&text=Hola buenas"
iconId='i-whatsapp'}}
{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/mineral.js" defer></script>
{{/inline}}

{{/layouts/default}}