{{#> layouts/default}}

{{#*inline "header-block"}}
{{> includes/header}}
{{/inline}}

{{#*inline "content-block"}}
<div class="tyc">
  <div class="container">
    <h1 class="tyc__heading text--center">Aviso de Privacidad</h1>
    <p class="tyc__paraph">
      Con fundamento en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, Joyería El Kilate pone a su disposición el siguiente aviso de privacidad, así como los datos referentes a la empresa:
    </p>
    <p class="tyc__paraph">
      En la Empresa Joyería El Kilate estamos consciente de lo importante que es el salvaguardar la información personal de nuestros clientes, por lo que queremos que usted tenga claro el uso que se le dará a sus datos personales, así como el manejo de los mismos, teniendo siempre como prioridad la confianza que usted nos proporciona para salvaguardar de los mismos. En este Aviso de Privacidad se describe la forma en que Joyería El Kilate recopila y trata sus datos personales a través de los sitios web, dispositivos, servicios y tienda en línea que hace referencia a este Aviso de Privacidad. Al utilizar los Servicios de Joyería El Kilate, usted está dando consentimiento amplio a las prácticas que a continuación se describen.
    </p>
    <p class="tyc__paraph">
      Joyería El Kilate con correo electrónico <span class="text--bold">joyeriaelkilatenegrete@hotmail.com</span>
    </p>
    <p class="tyc__paraph text--bold">
      ¿Con qué finalidad se recaban sus datos?
    </p>
    <p class="tyc__paraph">
      Recopilamos y almacenamos todos los datos que usted nos proporciona en relación con los Servicios de Joyería El Kilate. De ninguna manera divulgaremos la información que esté en nuestra posesión con ninguna persona o empresa, los datos personales que usted nos proporcione serán única y exclusivamente utilizados para los fines descritos a continuación
    </p>
    <ul class="tyc__list">
      <li class="tyc__list-item">Contactar a nuestros cliente y potenciales clientes cuando sea necesario para poder completar los procedimientos de compra.</li>
      <li class="tyc__list-item">Proporcionar la facturación correcta y completa a nuestros clientes.</li>
      <li class="tyc__list-item">Entregar los productos adquiridos en el destino indicado.</li>
      <li class="tyc__list-item">Llamar en caso de tener duda o incertidumbre sobre algún dato relacionado a la venta realizada.</li>
      <li class="tyc__list-item">Envío de Promociones sobre nuestros productos</li>
      <li class="tyc__list-item">Mercadotecnia y posicionamiento de la Marca</li>
    </ul>
    <p class="tyc__paraph text--bold">
      ¿Cuáles son los datos personales que se utilizarán para estos fines?
    </p>
    <ul class="tyc__list">
      <li class="tyc__list-item">Nombre</li>
      <li class="tyc__list-item">Registro Federal del Contribuyente</li>
      <li class="tyc__list-item">Domicilio</li>
      <li class="tyc__list-item">Teléfono celular/Particula</li>
      <li class="tyc__list-item">Correo Electrónico</li>
      <li class="tyc__list-item">Número de tarjetas</li>
    </ul>
    <p class="tyc__paraph text--bold">
      ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
    </p>
    <p class="tyc__paraph">
      Nuestra base de datos se encuentra protegida tanto física como electrónicamente, por lo que el acceso a la misma sólo es al personal seleccionado que labora en Joyería El Kilate. A su vez de acuerdo con el artículo 16 párrafo segundo de la Constitución toda persona que utilice nuestros servicios y nos proporcione datos se le reitera que puede hacer uso de sus derechos ARCO (derechos de acceso, rectificación, cancelación y oposición) sobre sus datos personales proporcionados a la empresa, por lo que cuenta con los siguientes derechos:
    </p>
    <ul class="tyc__list">
      <li class="tyc__list-item">Obtener sus datos personales que se encuentran en poder de la empresa.</li>
      <li class="tyc__list-item">Rectificar sus datos personales cuando sean inexactos o incompletos.</li>
      <li class="tyc__list-item">Cancelarlos cuando considere que no se requieren para alguna de las finalidades señaladas en este aviso de privacidad, estén siendo utilizados dichos datos para finalidades no consentidas o haya finalizado la relación contractual o de servicio.</li>
      <li class="tyc__list-item">Tener acceso al aviso de privacidad al que están sujetos sus datos personales.</li>
    </ul>
    <p class="tyc__paraph">
      Para revocar su consentimiento y conocer el tiempo de respuesta sobre dicho trámite usted deberá presentar una solicitud, que de acuerdo con el artículo 22 de la Ley hace valer sus derechos ARCO, por lo que deberá:
    </p>
    <p class="tyc__paraph text--bold">
      Asistir personalmente o en su defecto su representante legal a las oficinas de la Empresa ubicadas en Calle Negrete #402 B Ote, Zona Centro, C.P.34000, Durango, Durango México. En caso de no poder asistir se podrá enviar un correo electrónico. Son requeridos su identificación oficial (como garantía de titularidad) presentando un Formato de Solicitud Arco de la siguiente manera:
    </p>
    <p class="tyc__paraph">
      En Forma Presencial: Acudir a nuestras oficinas y llenar la forma que se le facilitará (sin costo alguno) cumpliendo con los siguientes requisitos:
    </p>
    <ul class="tyc__list">
      <li class="tyc__list-item">Nombre del titular de los datos personales y su domicilio u otro medio para que la empresa le comunique la respuesta dada a su solicitud.</li>
      <li class="tyc__list-item">Los documentos que acrediten la identidad o, en su caso, la representación legal del titular.</li>
      <li class="tyc__list-item">La descripción clara y precisa de los datos personales respecto de los que se busca acceder, rectificar, cancelar u oponerse a su uso.</li>
    </ul>
    <p class="tyc__paraph">
      Por medio de correo electrónico: Enviar un correo electrónico a la dirección que aparece al inicio de este Aviso de Privacidad, desde la dirección con la que nos hemos comunicado con usted, cumpliendo con los siguientes requisitos:
    </p>
    <ul class="tyc__list">
      <li class="tyc__list-item">Nombre del titular.</li>
      <li class="tyc__list-item">Presentar documentos que acrediten la identidad del interesado o, en su caso, la representación legal del titular.</li>
      <li class="tyc__list-item">Describir de manera clara y precisa los datos personales respecto de los que se busca acceder, rectificar, cancelar u oponerse a su uso o tratamiento.</li>
    </ul>
    <p class="tyc__paraph">
      Tiempo de Respuesta: El plazo para atender y resolver su solicitud será conforme a lo señalado en los artículos 28 al 35 de LA LEY.
    </p>
    <p class="tyc__paraph">
      Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
    </p>
    <p class="tyc__paraph text--bold">
      ¿Cómo puede conocer los cambios en este aviso de privacidad?
    </p>
    <p class="tyc__paraph">
      Se le informa que la Empresa Joyería El Kilate puede realizar modificaciones a este aviso de privacidad, por lo que se reserva el derecho para que sin previo aviso se pueda modificar o actualizar este aviso de privacidad, en caso de que se actualicen reformas legislativas o políticas internas entre otras cosas. La empresa notificará y pondrá a su disposición las modificaciones y/o alteraciones y/o cambios hechos al aviso de privacidad a través de la página web <span class="text--bold">http://www.elkilate.com.mx</span>
    </p>
  </div>
</div>
{{/inline}}

{{/layouts/default}}
