{{#> layouts/default}}

{{#*inline "header-block"}}
{{> includes/header}}
{{/inline}}

{{#*inline "content-block"}}
<div class="tyc">
  <div class="container">
    <div class="heading">
      <h1 class="tyc__heading text--center">Terminos y condiciones</h1>
      <h3 class="tyc__subheading text--center">INFORMACIÓN AL CLIENTE, TÉRMINOS Y CONDICIONES PARA MEXICO</h3>
    </div>
    <div class="concept">
      <h5 class="concept__title">1. ÁMBITO DE APLICACIÓN</h5>
      <p class="concept__content">Los presentes términos y condiciones comerciales generales serán válidos para todos los pedidos realizados a través del sitio web www.elkilate.com.mx ("el Sitio Web"). Le rogamos que lea atentamente los presentes Términos y Condiciones Comerciales Generales antes de pedir productos en este Sitio Web. Mediante la realización de un pedido de nuestros productos, usted declara su conformidad con las disposiciones siguientes y confirma estar facultado para celebrar contratos con carácter jurídicamente vinculante y tener como mínimo 18 años de edad. Solo aceptaremos términos y condiciones que difieran de estos Términos y Condiciones Comerciales Generales si los hemos confirmado previamente por escrito.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">2. PARTE CONTRATANTE</h5>
      <p class="concept__content">Este Sitio Web para la venta de mercancías a través de internet es operado por Guadalupe Alvarado Rodríguez como razón social con Rfc AARG5512122F9 con oficinas en calle Negrete 402 ote Cp34,000 Durango dgo Nuestro servicio de atención al cliente está a su disposición para cualquier cuestión: joyeríaelkilatenegrete@hotmail.com</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">3. CELEBRACIÓN DEL CONTRATO</h5>
      <p class="concept__content">Nos reservamos el derecho a rechazar pedidos de clientes cuando existan motivos que fundamenten la suposición de que el cliente incumple los Términos y Condiciones Comerciales Generales, está implicado en actividades fraudulentas u otras actividades delictivas, o cuando existan otros motivos importantes.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">4. DISPONIBILIDAD</h5>
      <p class="concept__content">Los productos y precios se muestran en el Sitio Web; los productos estarán disponibles mientras existan en el inventario. Nos reservamos el derecho a modificar en todo momento y sin previo aviso los productos ofrecidos en el Sitio Web, así como a limitar el número de productos que puede comprar un usuario. En caso de que el inventario de algún producto se termine, aparecerá como AGOTADO y/o se retirará de la página</p>
      <p class="concept__content">Queda excluida toda responsabilidad por falta de inventario y no-disponibilidad de productos. El Kilate se reserva el derecho a limitar el número de productos (o el número de una determinada SKU) vendidos a un cliente.</p>
      <p class="concept__content">Tenga en cuenta que, tras la confirmación del pedido, no se podrán atender solicitudes de modificación ni cancelación de órdenes en línea. Por favor consulte la política de cancelaciones más adelante o contacte a servicios al cliente en la dirección, correo electrónico proporcionado anteriormente.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">5. RESERVA DE PRESTACIÓN EN EL CASO DE MERCANCÍA NO SUMINISTRABLE</h5>
      <p class="concept__content">Si la mercancía pedida no se puede suministrar en el plazo de 30 días a partir del día siguiente a su pedido, aunque previamente le hubiéramos confirmado, le informaremos sobre la no-disponibilidad del producto y le reembolsaremos inmediatamente las contraprestaciones que ya hubiese pagado. El Kilate por medio de su representante Guadalupe Alvarado Rodríguez., no será responsable de los daños o perjuicios que pudiesen derivar de la falta de disponibilidad de mercancía en cualquier momento.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">6. PRECIO Y COSTOS ADICIONALES</h5>
      <p class="concept__content">El precio total de su pedido, incluidos todos gastos adicionales y de envío, se indica en la página anterior o se mostrará al finalizar el proceso de compra (check-out). Mediante la confirmación del pedido, usted declara su conformidad con el precio de la mercancía. No será posible un ajuste posterior de los precios una vez completado el proceso de compra.</p>
      <p class="concept__content">La venta de productos de joyeria se realiza a través de El Kilate, con sede en México. Tenga en cuenta que, en el caso de pagos extranjeros mediante tarjeta de crédito, la entidad crediticia que ha emitido la tarjeta puede cobrarle una sobretasa sobre las ventas en el extranjero (aprox. 1-2 %).</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">7. CONDICIONES DE PAGO</h5>
      <p class="concept__content">El precio de compra de la mercancía pedida será pagadero cuando coloque su pedido a través de www.elkilate.com.mx. El pago puede efectuarse mediante tarjeta de crédito y débito (indicando los datos de su tarjeta en el Sitio Web) y PayPal.</p>
      <p class="concept__content">En el caso de pago mediante tarjeta de crédito, nos reservamos el derecho a verificar la validez de la tarjeta, así como a comprobar los parámetros de cobro y los datos de la dirección. En el caso de que la entidad crediticia nos deniegue la aprobación del pago, no asumimos la responsabilidad derivada de retrasos o de la no-ejecución de entregas.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">8. ENTREGA Y RESERVA DEL TÍTULO DE PROPIEDAD</h5>
      <p class="concept__content">El suministro de la mercancía pedida es realizado por el servicio de reparto contratado por nosotros, normalmente en el plazo de 5-10 días hábiles contados a partir del día siguiente a su pedido, realizándose la entrega en la dirección de envío proporcionada por usted. En nuestra sección de Ayuda encontrará los días festivos en los que no se tramitan pedidos.</p>
      <p class="concept__content">Si así lo desea, procuraremos entregar la mercancía en una fecha concreta, pero normalmente no podemos comprometernos a ello de forma vinculante. Hasta que se haya pagado la totalidad del precio de compra, la mercancía será de nuestra propiedad.</p>
      <p class="concept__content">Cuando se le entregue la mercancía, deberá comprobar que el envío sea correcto y esté completo.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">9. GARANTÍA</h5>
      <p class="concept__content">En "Joyería el Kilate" nos hacemos responsables y confiamos en la calidad de nuestras piezas. Por consiguiente, si alguna pieza tuviese un defecto de fabrica que se compruebe, "Joyería el Kilate" se compromete a cambiar o reponer dicha pieza.</p>
      <p class="concept__content">No nos hacemos responsables por el el uso, o mal uso, de la pieza en un plazo de 15 días hábiles apartir de su compra. El medio para hacer dicha reclamación, aclaración y cualquier cambio será por medio del correo electrónico <strong style="font-weight: bold;">joyeriaelkilatenegrete@hotmail.com</strong>.</p>
      <h6 class="concept__subtitle">¿Qué no cubre la garantía?</h6>
      <p class="concept__content">Los daños que hayan sido causados por accidentes, contacto con líquidos, uso inadecuado o desgaste común y ordinario, modificación, intento de reparación, contacto con líquidos, negligencia o por no seguir las recomendaciones de cuidado especial de productos indicadas por El Kilate. La presente garantía no cubre: i) Cristales opacos (perdida de brillo), ii) Coloración verdosa/amarillenta en la base del metal, iii) manchas o perdida de la base reflejante por filtración de humedad (contacto con líquidos: agua, perfumes, fragancias, cremas, iv) Perdida del recubrimiento del metal (Rodio, rutenio, oro), v) oxidación: en el metal y debajo de los cristales, vi) Golpes o impactos que resulten en rupturas parciales o totales del cristal, vii) aplastamiento, manipulación y/o rasguños.</p>
      <h6 class="concept__subtitle">¿Cómo hacer válida la garantía?</h6>
      <p class="concept__content">Para hacer válida la garantía esta debe incluir: Presentar el ticket de compra donde se indique fecha de compra, y el código del producto así como presentar el producto en perfecto estado sin marcas de uso previo y en su empaque original. La aceptación de la garantía queda sujeta a la valoración y decisión de El Kilate.</p>
      <h6 class="concept__subtitle">Cambios a nivel Internacional:</h6>
      <p class="concept__content">Debido a diferencias de impuestos, estructura distinta de precios, requisitos legales locales y razones logísticas, El Kilate no puede ofrecer la posibilidad de realizar cambios de producto ni tampoco una política de reembolso a nivel internacional. Por lo tanto, El Kilate no podrá cambiar, o sustituir ningún producto que no sea devuelto en el mismo país de compra, es decir, no se realizan cambios, devoluciones ni sustitución de productos comprados en el extranjero.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">11. RESPONSABILIDAD</h5>
      <p class="concept__content">El Kilate por medio de su representante Guadalupe Alvarado Rodríguez., responderá ante usted solo en el caso de daños ocasionados de forma intencionada o con negligencia grave.</p>
      <p class="concept__content">La anterior limitación de la responsabilidad será válida para todos los derechos a indemnización por daños y perjuicios, independientemente de su fundamento jurídico.</p>
      <p class="concept__content">La exclusión o la limitación de la responsabilidad de indemnización por daños y perjuicios de conformidad con los apartados anteriores también serán válidas para aquellas reclamaciones contra colaboradores o agentes de El Kilate.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">12. CLÁUSULA DE INDIVIDUALIDAD DE LAS DISPOSICIONES</h5>
      <p class="concept__content">Si una disposición de los presentes Términos y Condiciones Comerciales Generales fuese o resultase no válida o inexigible, ello no afectará a la vigencia de las disposiciones restantes.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">13. EXCLUSIÓN DE LA CESIÓN</h5>
      <p class="concept__content">Solo podrá ceder sus derechos contractuales a terceros mediante el consentimiento por escrito de Guadalupe Alvarado Rodríguez.</p>
    </div>
    <div class="concept">
      <h5 class="concept__title">14. DERECHO APLICABLE</h5>
      <p class="concept__content">Los contratos celebrados bajo los presentes Términos y Condiciones Comerciales Generales estarán sujetos al derecho mexicano quedando excluida toda remisión ulterior a legislación extranjera. La Convención de las Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías no será aplicable. La Ciudad de México será el fuero competente para todos aquellos conflictos que se deriven de los presentes Términos y Condiciones Comerciales Generales o que se produzcan en relación con las mismos y con cualquier actividad de compra en el Sitio Web, renunciando las partes a cualquier otra jurisdicción que pudiese corresponderles debido a domicilio presente o futuro.</p>
    </div>    
  </div>
</div>
{{/inline}}

{{#*inline "ctc-block"}}
{{> includes/components/ctc-button link="https://api.whatsapp.com/send?phone=526182814235" iconId='i-whatsapp'}}
{{/inline}}

{{#*inline "scripts-block"}}

{{/inline}}

{{/layouts/default}}
